*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #dfdede;
}

            /* NAV */

.flex-d-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 8px 0px 0px 0px; */
    border: solid darkgray;
    border-top: none;
    height: 80px;
    background-color: white;
}
.flex-sty{
    display: flex;
    align-items: center;
}
.flex-sty .nav-imgs{
    width: 30px;
    height: 30px;
}
.flex-sty .nav-imgs:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
    transform: scale(1.3);
    transition: 1s;
}

.nav-icon img{
    padding: 0px 10px 0px;
}
.pesq-div #pesq {
    padding: 0px 0px 0px 120px;
    margin: 0px 0px 0px 15px;
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0.384);
}
.flex-sty .pesq-div .pust:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
    transform: scale(1.3);
    transition: 1s; 
}
                /* NAV */

                /*MAIN*/
  .mar-flex{
      margin: 150px 0px 0px 580px;
      background-color: rgb(255, 255, 255);
      width: 745px;
      height: 70px; 
      border: solid rgba(39, 37, 37, 0.425) 0.1px;
         
  } 
  .mar-flex .profile{
      display: flex;
      align-items: center;
      height: 75px
  }     
.mar-flex .profile img{
    width: 50px;
    margin: 10px;
    border-radius: 25px;
}
.mar-flex h2{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media (max-width:800px){
    .pesq-div{
        display: none;
    }
    .none{
        display: inline; 
        font-size: 24px;
    }

}