*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #dfdede;
}
nav{
    height: 10vh;
    background-color: #ffffff;

}
.flex-center{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-imgs{
    width: 24px;
    height: 24px;
}

.nav-icon{
    
}
.nav-icon img{
    padding: 0px 10px 0px;
    
}
.pesq-div{
    display: flex;

}
#pesq{
    padding: 0px 0px 0px;

}
.none{
    display: none;
}

@media (max-width:800px){
    .pesq-div{
        display: none;
    }
    .none{
        display: inline; 
        font-size: 24px;
    }

}